
<div class = "bootstrap-wrapper">
  <div class="container">
      <div class="row mt20">
          <div class="col-md-6 offset-md-3 text-center">


            <div class="container text-center mltop">
              <img src="../../../assets/logo.png" width="120" alt="120">
          </div>

          <br>
              <h1>Bienvenido Candidato 01</h1>
              <br>
              <button mat-raised-button color="primary"
              [routerLink] = "'/listar'">Continuar</button>



              <div class="labelVersion">
                <h5>Versión0.0.1</h5>
            </div>

          </div>
      </div>
  </div>
</div>


